.band
{
	height: 100px;
}
.page
{
	background-image: url("../img/page2.jpg");
	margin-top: 200px;
}

#co
{
	display : block;
	margin-left : 500px;
	margin-top: 30px;
	width : 200%;
	height: 30px;
	max-width : 600px;
	padding : 10px;
	
	border-radius: 8px;				/*contours arrondis*/
	font-size: 1.2em;
	color: blue;
	text-align: center;
}

.search
{
	margin-top: -35px;
}

.trans
{
opacity: 0.9;
}
